{% load i18n %}
{% load l10n %}
{% load static %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <title>WIMM</title>
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'item/list/css/list.css' %}">
    <script type="text/javascript" src="{% static 'jquery/js/jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'item/list/js/list.js' %}"></script>
</head>
<body>
    <div id="loading-overlay"><div class="spinner"></div></div>

    <input type="checkbox" id="sidebar-state">

    <div id="sidebar">
        <div id="sidebar-content"></div>
        <label id="sidebar-overlay" for="sidebar-state"></label>
    </div>

    <div id="title">
        <label id="show-menu" for="sidebar-state" class="fa fa-bars title-button"></label>
        <span id="next-month" class="fa fa-chevron-right title-button month-button"></span>
        <span id="previous-month" class="fa fa-chevron-left title-button month-button"></span>
        <div id="title-content">{{ date|date:'Y - F' }}</div>
    </div>

    <div id="content">
        <form id="item-form">
            {% csrf_token %}
            {{ form.date }}
            {{ form.price }}
            {{ form.name }}
            {{ form.meta }}
            <input type="submit" id="id_submit">
        </form>
        <div id="items"></div>
    </div>
</body>
</html>