{% load i18n %}
{% load static %}

{% get_current_language as LANGUAGE_CODE %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0">
    <title>WIMM</title>
    <link rel="stylesheet" type="text/css" href="{% static 'item/list/css/list.css' %}">
    <script type="text/javascript" src="{% static 'jquery/js/jquery-2.2.4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'item/list/js/list.js' %}"></script>
</head>
<body>
    <div id="overlay">
        <div class="spinner"></div>
    </div>

    <input type="checkbox" id="sidebar-state">

    <div id="sidebar">
        <div id="sidebar-content">
            Hello
            <div style="height: 2000px"></div>
            World
        </div>
        <label id="sidebar-overlay" for="sidebar-state"></label>
    </div>

    <div id="main">
        <div id="title">
            <label id="show-menu" for="sidebar-state">&equiv;</label>
            <div id="sticky-date">{% trans 'WIMM' %}</div>
        </div>

        <div id="content">
            <form id="item-form">
                {% csrf_token %}
                {{ form.date }}
                {{ form.price }}
                {{ form.name }}
                {{ form.meta }}
                <input type="submit" tabindex="-1">
            </form>
            <div id="items"></div>
        </div>
    </div>
</body>
</html>