$body-background: #e9e9e9;

$input-background: #fff;
$input-border: 1px solid #bbb;

$submit-color: #fff;
$submit-background: #39a2bf;
$submit-border-color: #286d81;
$submit-border: 1px solid $submit-border-color;
$submit-font-size: 24pt;