@import "consts";

.date-items {
  border: $date-items-border;
  background: $date-items-background;
  margin-bottom: $date-items-margin;

  &:last-child {
    margin: 0;
  }

  .date-items-head {
    text-align: center;
    padding: $date-items-head-padding;
    border-bottom: $input-border;
  }

  .items {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li {
      padding: $date-items-li-padding;
      display: flex;
      flex-wrap: wrap;

      &.selected {
        background: #ffe5e5;
      }

      &:nth-of-type(odd){
        background: $date-items-li-odd-background;

        &.selected {
          background: #ffbbbb;
        }
      }

      input[type=checkbox] {
        align-self: center;
        margin: 0 $date-items-li-padding 0 0;
      }

      .tag-list span {
        &::after {
          content: ', '
        }

        &:last-child::after {
          content: '';
        }
      }

      .price {
        margin-left: auto;
      }
    }
  }
}