@import "consts";

.date-items {
  border: $date-items-border;
  background: $date-items-background;
  margin-bottom: $date-items-bottom-margin;

  &:last-child {
    margin: 0;
  }

  .date-items-head {
    text-align: center;
    padding: $date-items-head-padding;
    border-bottom: $date-items-head-bottom-border;
  }

  .items {
    margin: 0;
    padding: 0;
    list-style-type: none;

    & > li {
      display: flex;
      position: relative;
      padding: $date-items-li-padding;

      &.selected {
        background: $date-items-li-selected-background;
      }

      &.submitting {
        background: $date-items-li-submitting-background;
      }

      &:nth-of-type(odd){
        background: $date-items-li-odd-background;

        &.selected {
          background: $date-items-li-selected-odd-background;
        }

        &.submitting {
          background: $date-items-li-submitting-odd-background;
        }
      }

      .item {
        flex-grow: 1;
        display: flex;
        flex-wrap: wrap;

        .tag-list {
          flex-grow: 1;

          span {
            &::after {
              content: ', '
            }

            &:last-child::after {
              content: '';
            }
          }
        }

        .item-form {
          flex-grow: 1;
        }

        .price {
          margin-left: auto;
        }

        .tags {
          background: $main-item-form-input-background;
          margin-bottom: $main-item-form-input-bottom-margin;

          &.disabled {
            background: #ebebe4;

            .tag {
              background: #d3d3d0;
              color: #595959
            }
          }
        }
      }

      .button-group {
        margin: -1 * $date-items-li-padding -1 * $date-items-li-padding -1 * $date-items-li-padding $date-items-li-padding;
        border-left: $date-items-button-group-left-border;
        display: flex;
        flex-direction: column;

        button {
          border: none;
          outline: none;
          cursor: pointer;
          flex-grow: 1;
          -webkit-tap-highlight-color: transparent;

          background: $date-items-button-background;
          padding: $date-items-li-padding;
          font-size: $date-items-button-font-size;

          &:active {
            background: $date-items-button-active-background;
          }
        }
      }
    }
  }
}
