@import "consts";

form.item-form {
  display: flex;
  flex-wrap: wrap;
  position: relative;

  .tags {
    width: 100%;
    border: $input-border;

    .tag {
      font-size: $input-font-size;
    }

    .tag-input {
      input {
        font-size: $input-font-size;
      }

      ul {
        border: $item-form-tags-dropdown-border;
      }
    }
  }

  & > input {
    box-sizing: border-box;
    padding: $item-form-input-padding;
    border: $input-border;
    font-size: $input-font-size;

    &.date {
      width: $item-form-date-width;
      margin-right: $item-form-date-right-margin;
    }

    &.price {
      flex-grow: 1;
      text-align: right;
      width: 0;
    }
  }
}
