@import "consts";

@import "tags";
@import "itemlist";
@import "itemform";
@import "dateitems";
@import "tools";

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12pt;
  background: $body-background;
}

.numeric {
  font-family: monospace;
}

.positive {
  color: #1b9c0b;
}

.loading {
  position: fixed;
  width: 100%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loader {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 512;


  &::after {
    content: '';
    position: fixed;
    width: 96px;
    height: 96px;
    top: calc(50% - 48px);
    left: calc(50% - 48px);
    border: 8px solid transparent;
    border-radius: 50%;
    border-top-color: #286d81;
    animation: spin 2s infinite linear;
  }
}