@import "consts";

.tags {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  border: $border;
  box-sizing: border-box;
  cursor: text;
  user-select: none;

  li {
    &.tag {
      background: $tag-background;
      color: $tag-color;
      cursor: pointer;
    }

    &.tag, &.tag-input {
      margin: $tag-margin;
      padding: $tag-padding;
      font-size: $tag-size;
    }

    &.tag, input {
      font-family: $tag-font;
      font-size: $tag-size;
    }

    input {
      margin: 0;
      padding: 0;
      border: none;
      outline: none;
      background: transparent;
    }
  }

  &.conflict {
    li.tag-input {
      background: $error-background;
      color: $error-color;
    }
  }

  ul {
    position: absolute;
    left: 0;
    right: 0;
    overflow-y: auto;
    margin: $choices-margin;
    padding: 0;
    border: $border;
    list-style: none;
    z-index: 65535;
    background: white;

    li {
      padding: $choices-tag-padding;
      font-family: $tag-font;
      cursor: pointer;
      border: 1px solid transparent;
    }

    .tag-choice-selected {
      background: $tag-background;
      color: $tag-color;
      border: 1px solid $tag-color;
    }
  }
}